.card--2,
.card--19,
.card--28 {
  &:hover {
    animation: cardTurnerVertical 2s ease-in-out both;
    cursor: pointer;
    box-shadow: 2px 2px 10px #333;

    &:hover .card__content--2,
    &:hover .card__content--19,
    &:hover .card__content--28 {
      animation: opacity 2s both;
    }
  }
}

@keyframes cardTurnerVertical {
  from {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  to {
    background-image: none;
    transform: rotateX(0deg);
  }
}
