body {
  border: solid 20px #212e53;
  color: #212e53;
}
ul {
  background-color: #d5ecda;
  margin: 0;
  border: inset 20px #4a909e;
}
li:first-child {
  padding-top: 20px;
}
li:last-child {
  color: #ce6a6b;
  font-weight: 600;
  padding-bottom: 20px;
}
li:nth-last-child(2) {
  color: #ce6a6b;
  font-weight: 600;
}
li {
  list-style-type: none;
  padding: 5px;
}
a {
  color: #042f66;
}
a:hover {
  color: #41bdd8;
}
