body {
  border: solid 20px #ffda54;
}
ul {
  background-color: #e1e4d6;
  margin: 0;
  border: inset 20px #b0c5ca;
}
li:first-child {
  padding-top: 20px;
}
li:nth-last-child(5),
li:nth-last-child(4) {
  color: #057690;
  font-weight: 600;
  border-bottom: dotted 7px rgba(0, 0, 0, 0.7);
}

li:last-child {
  padding-bottom: 20px;
}
li {
  list-style-type: none;
  padding: 5px;
}
a {
  color: #042f66;
}
a:hover {
  color: #41bdd8;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.c_1 {
  background-color: #fada67;
  margin-top: -270px;
  margin-left: 45px;
  z-index: inherit;
}
