body {
  border: dotted 20px #101b37;
}
ul {
  background-color: #091a36;
  margin: 0;
  border: groove 20px #e41376;
}
li:first-child {
  padding-top: 20px;
}

li:last-child {
  padding-bottom: 20px;
}
li:nth-last-child(5),
li:nth-last-child(6) {
  font-size: 30px;
}
li {
  font-family: "Gugi", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 1.5px 1.5px 2px #e41376;
  list-style-type: none;
  padding: 5px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #e0e0e2;
}
a:hover {
  color: #e41376;
  text-shadow: 1.5px 1.5px 1px #fff;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #01a3c4;
  margin-top: -245px;
  margin-left: 200px;
  box-shadow: 10px 5px 50px 20px #e41376;
}
.circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e41376;
  margin-top: -270px;
  margin-left: 318px;
  z-index: -1;
  box-shadow: 5px 1px #01a3c4;
}
